html,
body {
  height: 100%;
  margin: 0;
}

.x-vertical-center {
  display: inline-flex !important;
  align-items: center !important;
}

/* re-work notification message */
:global(.uk-notification-message) {
  padding: 0 !important;
  background: none !important;
}

:global(.uk-notification-close) {
  visibility: hidden  !important;
}